header,footer,header a, footer a, footer p
{
  display: flex;
  align-items:center;
  justify-content:center;
  justify-items: center; 
}

header,footer
{
  padding:1.5em;
  box-shadow:black 0 0 1em; 
  background-color: #333;
  color: white;
  width: 100%;
}

header
{
  Top:0;
  display:flex;
  flex-direction:row;
  min-height: 6em;
}

header div
{
  flex:1;
  position:absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap:1em;
}

header a
{
  position: absolute;
  left:0;
}
header img
{
  width: 4em;
  height: 4em;
  animation: pulse 8s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

header a, footer p > a
{
  font-size:2em;
  margin:0.5em;
}

header a:hover, footer p > a:hover
{
  transform:scale(1.5);
}

footer p
{
  text-align: center;
}

footer
{
  bottom: 0;
  flex-direction:column;
  text-align: center;
  gap:1em;
}

footer img
{
  width:5em;
  height:5em;
}

footer span a
{
  display: inline-block;
  text-decoration: underline;
}

@media (min-width: 768px)
{
  footer
  {
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
  }
  
}

.hidden
{
  display: none;
}

#toggle-btn-wrapper
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1em;
  gap:1em;
}

#toggle-btn-wrapper button
{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color:black;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

#toggle-btn-wrapper button:hover
{
  transform:scale(1.2);
}

#how-to-play
{
  width:90%;
  text-align: center;
  background-color: beige; 
  padding: 1em;
  box-shadow: black 0 0 1em;
}

#how-to-play h2
{
  font-size: 2em;
}

#how-to-play p
{
  padding: 2em 4em;
  text-align: left;
  line-height: 1.5em;
}