<footer>
    <img alt="logo Jonathan Sanon"/>
    <p>
      <span>Brought to you with ❤️ by Jonathan Sanon <br><br> &copy; Tijwet </span>
    </p>
    <p>
      <a href="mailto:jonathansanonpro@gmail.com" aria-label="Email Jonathan Sanon" target="_blank">
        <i class="fa-solid fa-envelope"></i>
        <span class="visually-hidden">Email</span>
      </a>
      <a href="https://instagram.com/jonathansanon.ent" aria-label="instagram Jonathan Sanon" target="_blank">
        <i class="fa-brands fa-instagram"></i>
        <span class="visually-hidden">Instagram</span>
      </a>
    </p>
  </footer>